<style>
  ._component-shark-vulnerable {
    display: flex;
    justify-content: space-between;

    border: 2px solid oklch(63.7% 0.237 25.331);
    background-color: oklch(25.8% 0.092 26.042);

    padding: 6px;

    text-align: center;

    border-radius: 4px;

    box-shadow: 0px 0px 6px oklch(50.5% 0.213 27.518);
  }

  ._component-shark-vulnerable a {
    color: var(--theme-font-color);
    font-weight: bold;
    text-decoration: underline;
  }

  ._component-shark-vulnerable a:hover {
    text-decoration: none;
  }

  ._component-shark-vulnerable-vulnerable {
    font-weight: bold;
    color: oklch(63.7% 0.237 25.331);
  }
</style>

<div class="_component-shark-vulnerable">
  <span>⚠️⚠️⚠️</span>
  <span>
    The <a href="https://www.iucnredlist.org/">IUCN</a> has classified this
    shark as
    <span class="_component-shark-vulnerable-vulnerable">VULNERABLE</span>... :(
  </span>
  <span>⚠️⚠️⚠️</span>
</div>
