body {
  background-image: url("/assets/bg/caesio_teres.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  padding: 32px;
  backdrop-filter: blur(16px);
  border-radius: 16px;
  border: 1px solid grey;
  max-width: 50vw;
  margin: 0 auto;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.links > a {
  color: var(--font-color);
  background-color: DarkCyan;
  padding: 16px;

  font-size: xx-large;
  text-decoration: none;

  border-radius: 8px;
  border: 3px solid var(--font-color);
}

.links > a:hover {
  background-color: teal;
}

.buttons,
.blinkies,
.stamps,
.misc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.buttons + .buttons {
  margin-top: 1rem;
}

.buttons img {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.blinkies img {
  width: 150px;
  height: 20px;
  image-rendering: pixelated;
}

.stamps img {
  image-rendering: pixelated;
  width: 99px;
  height: 56px;
}
