body {
  background-image: url("/assets/dithered_kelp.jpg");
  background-size: cover;

  min-height: 100vh;
}

.page {
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 16px rgb(40, 40, 40);
}

.content {
  border: 2px solid var(--border-color);
  background: rgb(36 37 37);
  padding: 8px;
}
