body {
  background-image: url("/assets/dithered_kelp.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: auto;
}

.window {
  height: 800px;

  background: black;
  border: 2px solid var(--border-color);
}

.content {
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 12px;
}
