body {
  background-image: url("/assets/dithered_kelp.jpg");
  background-size: cover;
  background-color: Black;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 64px;

  min-height: 100vh;
}

.page {
  max-width: 800px;
  margin: auto;
}

.window {
  display: flex;
  flex-direction: column;

  background: var(--bg);
  border: 2px solid var(--border-color);
}

.content {
  padding: 12px;
}

.commit {
  font-size: small;
  font-style: italic;
  text-align: center;
}
