<style>
  #header {
    display: flex;
    padding: 2em;
    align-items: center;

    border-bottom: 1px solid var(--color-line);

    background: url(/assets/header.jpg);
    width: 100%;
    background-size: cover;
    height: 140px;
  }

  #header > span {
    font-size: 3em;
    font-weight: bold;
    color: black;

    letter-spacing: 6px;

    text-shadow:
      2px 1px 0px var(--palette-1),
      1px 2px 0px var(--palette-1),
      -2px -1px 0px var(--palette-1),
      -1px -2px 0px var(--palette-1),
      -2px 1px 0px var(--palette-1),
      -1px 2px 0px var(--palette-1),
      2px -1px 0px var(--palette-1),
      1px -2px 0px var(--palette-1);
  }
</style>

<div id="header">
  <span>furshark.net</span>
</div>
