<style>
  #navbar {
    display: flex;
    padding: 1px 5px;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--theme-border);
  }

  #navbar-links a {
    padding: 4px;
  }

  #navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    #navbar,
    #navbar-links {
      justify-content: center;
    }
  }
</style>

<nav id="navbar">
  <div id="navbar-links">
    🫧<a href="/">index</a>🫧<a href="/shark/">shark stuff</a>🫧
    <a href="/links/">links</a>🫧<a href="/guestbook/">guestbook</a>🫧
    <a href="/musicshelf/">music shelf</a>🫧
  </div>
</nav>
