<nav class="nav">
  {% for item in nav %}
    {% if item.label == "!!spacer" %}
      <span></span>
    {% else %}
      <a href="{{ item.url }}" class="{{ 'nav--active' if page.url == item.url }}"> {{ item.label }} </a>
    {% endif %}
  {% endfor %}
</nav>
