<style>
  @import url("/css/variables.css");

  #navbar {
    display: flex;
    flex-direction: column;

    a {
      padding: 4px 16px;
      border: 1px solid transparent;
    }

    a:hover {
      color: var(--color-font);
      background: linear-gradient(var(--color-link) 10%, #1e3a8a 90%);
      text-shadow: 0 0 4px var(--palette-3);
      border: 1px solid var(--color-link);
    }

    a:hover::before {
      content: "> ";
    }
  }
</style>

<nav id="navbar">
  <a href="/">Index</a><a href="/shark/">Sharks</a>
  <a href="/links/">Links and stuff</a><a href="/guestbook/">Guestbook</a>
  <a href="/musicshelf/">Music shelf</a>
</nav>
