<style>
  @import url("/css/variables.css");

  #navbar-mobile {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  #navbar-mobile a {
    padding: 8px;
    border: 1px solid var(--color-link);
    text-decoration: none;
  }

  #navbar-mobile a:hover {
    color: var(--color-font);
    background-color: var(--color-link);
  }
</style>

<nav id="navbar-mobile" class="sm-only-flex">
  <a href="/">index</a>
  <a href="/shark/">sharks</a>
  <a href="/links/">links and stuff</a>
  <a href="/guestbook/">guestbook</a>
  <a href="/musicshelf/">music shelf</a>
</nav>
