<style>
  @import url("/css/variables.css");

  #navbar {
    display: flex;
    flex-direction: column;

    padding: 8px 16px;

    a {
      width: fit-content;
      font-weight: normal;
    }

    a::before {
      content: "⏵ ";
    }

    a:hover {
      color: var(--color-font);
      background: none;
      text-shadow: 0 0 4px var(--palette-3);
      text-decoration: underline;
    }
  }
</style>

<nav id="navbar">
  <a href="/">Index</a>
  <a href="/shark/">Sharks 🦈</a>
  <a href="/links/">Links and contact</a>
  <a href="/about/">About me</a>
  <a href="/guestbook/">Guestbook</a>
  <a href="/blog/">Blog</a>
  <a href="/musicshelf/">Music shelf</a>
  <a href="/pawjobnation/">Pawjob nation</a>
</nav>
