<style>
  @import url("/css/variables.css");

  #navbar-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    a {
      padding: 8px 14px;
      border: 1px solid var(--color-link);
      text-decoration: none;
      background: linear-gradient(var(--color-link) 10%, #1e3a8a 90%);
      color: var(--color-font);
      text-shadow: none;
      text-wrap: nowrap;
      text-align: center;
      flex: 1;
    }

    a:hover {
      background: #1e3a8a;
    }
  }

  .nav-m-pawjobnation {
    background: linear-gradient(hotpink 10%, rgb(129, 53, 91) 90%) !important;
    border: 1px solid hotpink !important;
  }

  .nav-m-pawjobnation:hover {
    background: rgb(129, 53, 91) !important;
  }

  .nav-m-musicshelf {
    background: linear-gradient(oklch(57.7% 0.245 27.325) 10%, oklch(33.849% 0.13802 27.146) 90%) !important;
    border: 1px solid oklch(57.7% 0.245 27.325) !important;
  }

  .nav-m-musicshelf:hover {
    background: oklch(33.849% 0.13802 27.146) !important;
  }
</style>

<nav id="navbar-mobile" class="sm-only-flex">
  <a href="/">Index</a>
  <a href="/shark/">Sharks</a>
  <a href="/links/">Links and contact</a>
  <a href="/about/">About me</a>
  <a href="/guestbook/">Guestbook</a>
  <a class="nav-m-musicshelf" href="/musicshelf/">Music shelf</a>
  <a class="nav-m-pawjobnation" href="/pawjobnation/">Pawjob nation</a>
</nav>
