<script type="module" src="/script/nekoweb.js" defer></script>
<style>
  .nw-counter {
    display: inline;
  }

  .nw-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #nw-view,
  #nw-follow,
  #nw-update {
    display: flex;
    align-items: center;
  }
</style>

<div>
  <div class="nw-line">
    Views:
    <div id="nw-view">----</div>
  </div>
  <div class="nw-line">Followers: <span id="nw-follow">----</span></div>
  <div class="nw-line">Updates: <span id="nw-update">----</span></div>
</div>
