<script type="module" src="/script/nekoweb.js" defer></script>
<style>
  .nw-line-mobile {
    display: flex;
    gap: 4px;
  }

  .nw-stats-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 16px;
    padding: 6px 0px;
  }
</style>

<div class="nw-stats-mobile">
  <div class="nw-line-mobile">
    Views:
    <div class="nw-view-text">----</div>
  </div>

  <div class="nw-line-mobile">
    Updates: <span class="nw-update-text">----</span>
  </div>
</div>
