<style>
  .buttons {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .buttons img {
    width: 88px !important;
    height: 31px !important;
    image-rendering: pixelated !important;
  }

  .buttons a {
    transition: 150ms;
    width: 88px !important;
    height: 31px !important;
  }

  .buttons a:hover {
    scale: 110%;
    box-shadow: 0px 0px 16px var(--bg);
    rotate: 5deg;
  }
</style>

<section class="buttons">
  <a href="https://nekoweb.org/">
    <img
      src="/assets/buttons/nekoweb.gif"
      alt="nekoweb dot org"
      loading="lazy"
      data-tooltip="NekoWeb"
    />
  </a>

  <a href="https://breq.dev/">
    <img src="/assets/buttons/breq.png" alt="breq" loading="lazy" data-tooltip="breq" />
  </a>

  <a href="https://synth.download">
    <img
      loading="lazy"
      src="/assets/buttons/synth_dot_download.svg"
      alt="Synth.Download!"
      data-tooltip="Synth.Download!"
    />
  </a>

  <a href="https://eightyeightthirty.one/">
    <img
      loading="lazy"
      alt="eightyeightythirtyone"
      src="/assets/buttons/eightyeightythirtyone.png"
      data-tooltip="eightyeightythirty.one"
    />
  </a>

  <a href="https://votehusky.org">
    <img
      loading="lazy"
      alt="vote the husky party"
      src="/assets/buttons/votehusky.png"
      data-tooltip="Vote the husky party!"
    />
  </a>

  <a href="https://swiftyshq.neocities.org/">
    <img
      loading="lazy"
      alt="swiftyhq"
      src="/assets/buttons/swiftyhq.png"
      data-tooltip="Swifty's HQ"
    />
  </a>

  <a href="https://freeplay.floof.company/">
    <img
      loading="lazy"
      alt="freeplay"
      src="/assets/buttons/freeplay.gif"
      data-tooltip="FREEEEEEEEEEEEEEE"
    />
  </a>

  <a href="https://dimden.dev/">
    <img
      loading="lazy"
      alt="dimden"
      src="/assets/buttons/dimden.gif"
      data-tooltip="Dimden's hotel"
    />
  </a>

  <a href="https://tuxedodragon.art">
    <img
      loading="lazy"
      alt="Tuxedo Dragon"
      src="/assets/buttons/tuxedodragon.gif"
      data-tooltip="Tuxedo Dragon"
    />
  </a>

  <a href="https://ivrry.nekoweb.org">
    <img loading="lazy" alt="ivrry" src="/assets/buttons/ivrry.png" data-tooltip="ivrry" />
  </a>

  <a href="https://asherihardlyknower.nekoweb.org">
    <img loading="lazy" alt="ash" src="/assets/buttons/ash.jpg" data-tooltip="ash" />
  </a>

  <a href="https://status.cafe">
    <img
      loading="lazy"
      alt="statuscafe"
      src="/assets/buttons/statuscafe.png"
      data-tooltip="StatusCafe"
    />
  </a>

  <a href="https://maia.crimew.gay">
    <img
      loading="lazy"
      alt="maia.crimew.gay"
      src="/assets/buttons/maia.png"
      data-tooltip="maia :3"
    />
  </a>

  <a href="https://jbc.lol">
    <img loading="lazy" alt="jbc.lol" src="/assets/buttons/jbtn.gif" data-tooltip="jb's site" />
  </a>

  <a href="https://millacat3.nekoweb.org/">
    <img
      loading="lazy"
      alt="milacat3"
      data-tooltip="The Cat's Lunch"
      src="/assets/buttons/Millacat3.gif"
    />
  </a>
</section>
