<style>
  .sidebar {
    flex: 3.5;

    border-right: 1px solid var(--color-line);
  }

  .sidebar > section {
    padding: 4px 16px;
  }

  .sidebar > section + section {
    margin: 8px 0px;
  }

  .stitle {
    padding: 2px 16px;
    background: linear-gradient(90deg, var(--color-link), transparent);
    font-weight: bold;
    font-family: "Departure Mono";
    letter-spacing: 2px;
  }

  section + .stitle {
    margin-top: 8px;
  }
</style>

<aside class="sidebar lg-only">
  <div class="stitle">Navigation</div>
  {% include "components/navigation.html" %}

  <div class="stitle">Status</div>
  <section>{% include "components/status_cafe.html" %}</section>

  <!-- WEBRINGS -->
  <div class="stitle">Webrings</div>
  <section>
    <div id="webring-container">
      <!-- SSG WEBRING -->
      <div id="ssgwebring">
        <a
          href="https://jbcarreon123.nekoweb.org/webrings/ssgring/redirect?slug=sharky&way=prev"
          class="webring-arrow"
          >&larr;</a
        >
        <a href="https://jbcarreon123.nekoweb.org/webrings/ssgring/"
          >SSG ring</a
        >
        <a
          href="https://jbcarreon123.nekoweb.org/webrings/ssgring/redirect?slug=sharky&way=next"
          class="webring-arrow"
          >&rarr;</a
        >
      </div>

      <!-- NO AI WEBRING -->
      <div id="noaiwebring">
        <div>
          <a href="https://baccyflap.com/noai" target="_blank"
            >the no AI webring</a
          >
        </div>

        <div>
          <a
            href="https://baccyflap.com/noai/?prv&s=shr"
            target="_top"
            title="previous"
            class="webring-arrow"
            >&larr;</a
          >

          <a
            class="small"
            href="https://baccyflap.com/noai/?rnd"
            target="_top"
            title="random"
            >(random)</a
          >

          <a
            href="https://baccyflap.com/noai/?nxt&s=shr"
            target="_top"
            title="next"
            class="webring-arrow"
            >&rarr;</a
          >
        </div>
      </div>

      <!-- RETRONAUT WEBRING -->
      <div id="retronaut">
        <a
          href="https://webring.dinhe.net/prev/https://sharkyfur.nekoweb.org"
          class="webring-arrow"
          >&larr;</a
        >
        <div>
          <a href="https://webring.dinhe.net">retronaut<br />webring</a>
        </div>
        <a
          href="https://webring.dinhe.net/next/https://sharkyfur.nekoweb.org"
          class="webring-arrow"
          >&rarr;</a
        >
      </div>
    </div>
  </section>

  <div class="stitle">Stats</div>
  <section>{% include "components/nekoweb.html" %}</section>

  <section>
    Maybe
    <a href="https://nekoweb.org/follow/sharkyfur">follow me</a> on nekoweb?
  </section>

  <section>
    <div>
      <a href="/build/">Build info</a>
      (for nerds)
    </div>
  </section>
</aside>
