<div class="topbar">
  <nav class="topbar--nav">
    <a href="/" class="topbar--logo">🦈</a>
    <a href="/"><b>Home</b></a>
    <a href="/links/">Links and contact</a>
    <a href="/about/">About me</a>
    <a href="/collections/">Collections</a>
    <span style="width: 18px;"></span>
    <a href="/guestbook/">Guestbook</a>
    <a href="/blog/">Blog</a>
    <a href="/shark/">Sharks</a>
  </nav>

  <div>
    <span class="topbar--weather"></span>
    <span class="topbar--time"></span>
  </div>
</div>
