body {
  background-image: url("/assets/bg/caesio_teres.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black;
}

main {
  background-color: white;
  border: 2px solid black;
  padding: 16px 32px;
  max-width: 600px;
  margin: 0 auto;
}

@media only screen and (max-device-width: 768px) {
  .links {
    display: flex !important;
    flex-direction: column !important;
  }
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.links > a {
  color: white;
  background-color: blue;
  padding: 16px;

  font-size: xx-large;
  text-decoration: none;
  border: 2px solid transparent;
}

.links > a:hover {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}

.buttons,
.blinkies,
.stamps,
.misc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.buttons + .buttons {
  margin-top: 1rem;
}

.buttons img {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.blinkies img {
  width: 150px;
  height: 20px;
  image-rendering: pixelated;
}

.stamps img {
  image-rendering: pixelated;
  width: 99px;
  height: 56px;
}
