.ssgwebring,
.noaiwebring,
.retronaut {
  display: flex;
  gap: 1em;
}

.webrings {
  display: flex;
  justify-content: space-evenly;
}

.mytime {
  background-color: #b3baa4;
  color: #284554;
  border: 1px solid #223a47;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 3px;
}
