body {
  color: white;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1em;

  font-family: "Inter";
}

.content {
  max-width: 700px;
}

p + p {
  margin-top: 1em;
}

a,
a:visited {
  color: DodgerBlue;
}
