.nav {
  font-family: "Cousine";
  display: flex;
  flex-direction: row;

  margin: 0 20px;
}

.nav > * {
  flex: 1;
  border: 1px solid white;
  border-top: transparent;
  background-color: black;
  padding: 0 1em;

  text-align: center;
  text-decoration: none;
}

.nav > *,
.nav > a,
.nav:visited {
  color: var(--font-color);
}

.nav > a:hover {
  filter: invert();
}

.nav--active {
  color: lime !important;
}
