.nav {
  font-family: "Cousine";
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.nav > * {
  flex: 1;

  border: 2px solid var(--border-color);
  border-bottom: transparent;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  background-color: var(--bg);
  padding: 0 1em;

  text-align: center;
  text-decoration: none;
}

.nav > *,
.nav > a,
.nav:visited {
  color: var(--font-color);
}

.nav > a:hover {
  filter: invert();
}

.nav--active {
  background-color: var(--bg-dark) !important;
}
