.topbar {
  font-family: "Tiny5";

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(36 37 37);

  box-shadow: 0 0 16px rgb(40, 40, 40);

  border-bottom: 2px solid var(--border-color);

  margin-bottom: 16px;
}

.topbar * {
  color: var(--font-color) !important;
}

.topbar--logo,
.topbar--time {
  padding: 0px 14px !important;
}

.topbar--nav {
  display: flex;
  flex-direction: row;
}
.topbar--nav > a {
  padding: 0 16px;
  margin: 0px -4px;

  text-decoration: none;

  color: #bacbf3;
}

.topbar--nav > a:hover {
  backdrop-filter: brightness(60%);
}
