---
title: About Sharky
description: sharky's personal webpage. the creature. shark-infested website. furshark.net 🐟
---

{% extends "layouts/common.njk" %}
{% block head %}
    <link rel="canonical" href="https://furshark.net/about"/>
    <link rel="stylesheet" href="/css/sitestats.css"/>
    <script src="/script/tooltip.js" defer async></script>
    <script type="module" src="/script/meow.js" defer async></script>
{% endblock %}
{% block content %}
    {{ content | safe }}
{% endblock %}