{% extends "layouts/base.njk" %}

{% block style %}
  <link rel="stylesheet" href="/css/layout/collections.css" />
{% endblock %}

{% block body %}
  <main class="main">{{ content | safe }}</main>
{% endblock %}
