---
title: sharky | guestbook
---

{% extends "layouts/common.njk" %}

{% block head %}
    <link rel="canonical" href="https://sharkyfur.nekoweb.org/guestbook/" />

    <link rel="stylesheet" href="/css/comment-widget.css" />

    <script src="/script/comment-widget.js" defer></script>
{% endblock %}

{% block content %}
    {{ content | safe }}
{% endblock %}
