---
title: Guestbook
---

{% extends "layouts/common.njk" %}

{% block head %}
    <link rel="canonical" href="https://furshark.net/guestbook/" />

    {# <link rel="stylesheet" href="/css/comment-widget.css" /> #}
    <link rel="stylesheet" href="/css/guestbook.css" />

    {# <script src="/script/comment-widget.js" defer></script> #}
    <script src="/script/guestbook.js" defer></script>
{% endblock %}

{% block content %}
    {{ content | safe }}
{% endblock %}
