---
title: sharky | links page
description: Things I use, or other cool websites <3
---

{% extends "layouts/common.njk" %}

{% block head %}
    <link rel="canonical" href="https://sharkyfur.nekoweb.org/links" />
{% endblock %}

{% block content %}
    {{ content | safe }}
{% endblock %}
