---
title: lowtide | links page
description: Things I use, or other cool websites <3
---

{% extends "layouts/base.njk" %}

{% block head %}
    <link rel="canonical" href="https://lowtide.nekoweb.org/links" />
{% endblock %}

{% block body %}
    {{ content | safe }}
{% endblock %}
