---
title: musicshelf
description: check out your top albums on last.fm!
---

{% extends "layouts/base.njk" %}

{% block head %}
    <link rel="canonical" href="https://furshark.net/musicshelf" />

    <link rel="stylesheet" href="/css/musicshelf.css" />

    <script src="/script/musicshelf.js" defer></script>
{% endblock %}

{% block body %}
    {{ content | safe }}
{% endblock %}
