---
title: lowtide | shark stuff
description: Come read about sharks! They are such wonderful and misunderstood creatures.
---

{% extends "layouts/common.njk" %}

{% block head %}
    <link rel="canonical" href="https://lowtide.nekoweb.org/shark.html" />

    <link rel="stylesheet" href="/css/shark.css" />

    <script src="/script/tooltip.js" defer async></script>
{% endblock %}

{% block content %}
    {{ content | safe }}
{% endblock %}
