---
lastModified: <value not set>
originallyCreated: <value not set>
---

{% extends "layouts/common.njk" %}

{% block head %}
    <link rel="canonical" href="{{ canonical }}" />

    <link rel="stylesheet" href="/css/shark.css" />

    <script src="/script/tooltip.js" defer async></script>
{% endblock %}

{% block content %}
    <article class="shark-article">
        {{ content | safe }}
    </article>

    <span class="minor-importance-text">Created: {{ originallyCreated }} | Last updated: {{ lastModified }}</span>
{% endblock %}
