@font-face {
  font-family: "Cousine";
  src: url("/fonts/Cousine/Cousine-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("/fonts/Cousine/Cousine-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cousine";
  src: url("/fonts/Cousine/Cousine-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("/fonts/Cousine/Cousine-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter_18pt-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter_18pt-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter_18pt-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter_18pt-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Departure Mono";
  src:
    url("/fonts/DepartureMono/DepartureMono-Regular.woff2") format("woff2"),
    url("/fonts/DepartureMono/DepartureMono-Regular.woff") format("woff"),
    url("/fonts/DepartureMono/DepartureMono-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
