@import url("/css/reset.css");
@import url("/css/font.css");

/* Component style files */
@import url("/css/component/topbar.css");

:root {
  color: white;
  font-family: "Fuzzy Bubbles";

  --link-color: #bacbf3;
  --border-color: #475e94;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
}

.header {
  background-image: url("/assets/background.jpg");

  height: 256px;

  border: 2px solid var(--border-color);
  border-bottom: none;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 4px;

  font-size: 13px;
}
