@import url("/css/reset.css");
@import url("/css/font.css");

:root {
  --font-color: SeaShell;
  --link-color: #bacbf3;
  --border-color: #003334;
  --bg: #006766;
  --bg-dark: #005554;

  color: var(--font-color);
  font-family: "Fuzzy Bubbles";
  font-size: 16px;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
}

p + p,
ul + p {
  margin-top: 1em;
}
