@font-face {
  font-family: "Departure Mono";
  src: local("Departure Mono"),
    url("/fonts/DepartureMono/DepartureMono-Regular.woff2") format("woff2"),
    url("/fonts/DepartureMono/DepartureMono-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: local("Work Sans"), url("/fonts/WorkSans/WorkSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: local("Work Sans"), url("/fonts/WorkSans/WorkSans-Bold.ttf");
  font-display: swap;
  font-weight: bold;
}
