/* inputs */
#guestbook-form {
  background: transparent;
  backdrop-filter: brightness(250%);
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #262626;

  textarea {
    resize: vertical;
  }
}

#guestbook-form-submit {
  width: 100%;
}

#form-status {
  width: 100%;
  text-align: center;
}

.status-normal {
  border: 1px solid #202020;
  background-color: #303030;
  padding: 4px 16px;
  border-radius: 4px;
  width: fit-content;
  display: none;
}

.status-success {
  color: lime;
  background-color: darkgreen !important;
  border: 1px solid green !important;
  padding: 4px 16px;
  border-radius: 4px;
  width: fit-content;
}

.status-error {
  background-color: darkred !important;
  border: 1px solid red !important;
  padding: 4px 16px;
  border-radius: 4px;
  width: fit-content;
}

#gb-nickname,
#gb-site,
#gb-content {
  width: 100%; /* don't look here! */
  box-sizing: border-box;
}

/* comments */
.comment {
  background-color: transparent;
  backdrop-filter: brightness(250%);
  border-radius: 4px;
  overflow: hidden;

  button {
    border: none;
    border-radius: 0px;
    color: var(--palette-1);
    background: transparent;
    padding: 2px 4px;
    margin: 0px;
  }

  button:hover {
    border: none;
    text-decoration: underline;
    background: transparent;
  }
}

.reply {
  margin: 8px;
  border-left: 3px solid var(--palette-1);
}

#comments {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment-date {
  opacity: 70%;
}

.comment-name {
  font-weight: bold;
}
.reply-name {
  font-weight: bold;
}

.comment-top,
.reply-top {
  padding: 4px;
}

.comment-content,
.reply-content {
  padding: 8px;
}

.comment-replies {
  display: none;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, #1844a1, var(--color-link), #6f97ec);
}

.reply-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-site,
.reply-site {
  color: var(--palette-5);
}

.comment-site:hover,
.reply-site:hover {
  color: var(--palette-5);
  text-decoration: underline;
  background: none;
  text-shadow: none;
}
