#lastfm {
  display: flex;
  flex-direction: column;

  border: 1px solid oklch(44.6% 0.03 256.802);
  border-radius: 4px;

  overflow: hidden;

  padding-bottom: 2px;

  width: max-content;

  position: relative;
  background-color: var(--theme-background);
}

#lastfm header {
  margin: 0;
  background-color: #d51007;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  width: 100%;
}

#lastfm header a {
  font-weight: bold;
}

#lastfm a,
#lastfm a:visited {
  color: var(--font-color);
}

#cover {
  width: 160px;
  height: 160px;
  background-color: var(--theme-background-darker);
  border-bottom: 1px solid var(--theme-border);
}

#artist,
#trackname {
  margin-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 150px;

  text-align: center;

  min-height: 1em;
}

#artist {
  font-style: italic;
  opacity: 70%;
}

#fmtime {
  font-size: 8pt;
}

#kurt {
  position: absolute;
  height: 200px;

  left: 60px;
  top: 30px;
}
