#lastfm {
  display: flex;
  flex-direction: column;

  border: 1px solid oklch(44.6% 0.03 256.802);

  margin: 4px;
  padding-bottom: 2px;
  width: max-content;

  position: relative;
}

#lastfm header {
  margin: 0;
  background-color: #d51007;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#lastfm header a {
  font-weight: bold;
}

#lastfm a,
#lastfm a:visited {
  color: var(--font-color);
}

#cover {
  width: 160px;
  border-bottom: 1px solid var(--theme-border);
}

#artist,
#trackname {
  margin-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 150px;
}

#artist {
  font-style: italic;
  opacity: 70%;
}

#fmtime {
  font-size: 8pt;
}

#kurt {
  position: absolute;
  height: 200px;

  left: -20px;
  top: -6px;
}
