/* IDs */

:root {
  --album-container-bg: oklch(26.9% 0 0);
  background-image: none;
}

#noscript {
  color: oklch(57.7% 0.245 27.325);
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  text-shadow: 0px 0px 4px oklch(57.7% 0.245 27.325);
}

#album_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  max-width: 880px;
  margin: 0 auto;
  padding: 16px;
}

#album_container img {
  width: 150px;
  height: 150px;
  background-color: grey;
}

#heading {
  background-color: #d51007;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#heading h1,
#heading a,
#heading a:visited {
  color: white;
}

#musicshelf-container {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;

  margin-top: 16px;

  background-color: var(--album-container-bg);
}

#interface {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;

  margin-left: 8px;
  margin-right: 8px;
}

#footer {
  margin: 8px;
  text-align: center;
}

#subtitle {
  padding-left: 16px;
  margin-top: 16px;
  text-align: center;
}

#username,
#period,
#request {
  border-radius: 0px;
}

/* Elements */

hr {
  width: 90%;
  border: 0;
  border-top: 1px solid oklch(37% 0.013 285.805);
  margin-top: 16px;
}

/* Classes */

.albumname,
.albumname:visited {
  font-weight: bold;
  color: white;
}

.artistname {
  font-style: italic;
  opacity: 70%;
}

.album {
  max-width: 150px;

  border: 1px solid oklch(37% 0.013 285.805);
  padding: 4px;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--theme-border);
}

/* Media queries */

@media only screen and (max-width: 600px) {
  #interface {
    flex-direction: column;
  }
}
