#pn-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  gap: 32px;
  height: 100%;
}

.pn-member {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 110px;
    height: 110px;

    flex: 2;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid var(--color-line);
  }
}

.pn-name {
  padding: 4px;
  font-weight: bold;
  font-size: 14pt;
}

.pn-desc {
  opacity: 50%;
  font-style: italic;
  text-align: center;
  font-size: 11pt;
}

.pn-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  flex: 1;

  padding: 12px 6px;
  margin-top: 8px;
  border-radius: 4px;

  backdrop-filter: brightness(200%);
}
