/* IDs */

#shark_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
}

#shark_container img {
  height: 100px;
  width: 200px;
  margin: auto;
  object-fit: contain;
  image-rendering: pixelated;
}

#shark_container a {
  transition: 150ms;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);

  text-decoration: none;
  padding-bottom: .5em;

  border: 2px solid oklch(28.2% 0.091 267.935);
  background-color: oklch(28.337% 0.09104 267.481 / 0.33);
}

#shark_container a:hover {
  background-color: oklch(32% 0.091 267.935);
  box-shadow: 0px 0px 8px var(--theme-background);
}

/* Classes */

.subtitle {
  opacity: 50%;
}

.warning {
  color: oklch(75% 0.183 55.934);
  font-weight: bold;
}

.images-section {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;

  margin: 8px;
  gap: 8px;
}

.images-section img {
  max-width: 100%;
  max-height: 100%;
}

.shark-article {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

@media only screen and (max-width: 600px) {
  .images-section {
    grid-template-columns: auto;
  }
}