/* IDs */

#shark_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
}

#shark_container img {
  height: 80px;
  image-rendering: pixelated;
}

#shark_container a {
  transition: 150ms;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);

  background-color: oklch(28.2% 0.091 267.935);
  border-radius: 4px;
}

#shark_container a:hover {
  background-color: oklch(32% 0.091 267.935);
  box-shadow: 0px 0px 8px var(--theme-background);
}

/* Classes */

.subtitle {
  opacity: 50%;
}

.warning {
  color: oklch(75% 0.183 55.934);
  font-weight: bold;
}

.images-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin: 8px;
  gap: 8px;
}

.images-section img {
  max-height: 250px;
}

.shark-article {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
