@import url(/css/fonts.css);

/* Actually goated list of colors :3 https://tailwindcss.com/docs/colors */

:root {
  --theme-primary: oklch(54.6% 0.245 262.881);
  --theme-secondary: oklch(97% 0 0);
  --theme-accent: oklch(71.5% 0.143 215.221);
  --theme-border: oklch(27.9% 0.041 260.031);
  --theme-background: oklch(20.8% 0.042 265.755);

  --font: "Noto Sans";
  --font-heading: "Red Hat Text";
  --font-color: var(--theme-secondary);
  --font-heading-color: var(--theme-primary);

  --gap: 11px;

  font-family: var(--font);
  font-size: 11pt;
  color: var(--font-color);

  background-color: oklch(12.9% 0.042 264.695);
}

/* IDs */

#container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#main-container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

#blinkies {
  display: flex;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
}

#blinkies img {
  width: 150px;
  height: 20px;
}

#asidething {
  display: flex;
  justify-content: space-evenly;
  gap: var(--gap);
}

#asidething * {
  width: max-content;
  height: max-content;
}

#noaiwebring {
  text-align: center;
}

#noaiwebring a,
#noaiwebring a:visited {
  color: var(--font-color);
}

#links {
  display: flex;
  justify-content: space-evenly;
}

#links a {
  display: block;
  text-align: center;
  width: max-content;
}

#fun-stuff {
  display: flex;
  gap: var(--gap);
}

#notifyinput {
  outline: none;
  border: 1px solid var(--theme-border);
  border-radius: 2px;

  color: var(--font-color);
  background-color: var(--theme-background);
}

#notifyinput:active {
  border-color: var(--theme-primary);
}

#notifyinput:focus {
  border-color: var(--theme-primary);
}

#notifysend {
  border-radius: 2px;

  background-color: var(--theme-background);
  color: var(--font-color);
  border: 1px solid var(--theme-primary);
}

#notifysend:disabled {
  color: grey;
  border-color: var(--theme-border);
}

#stamps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

#tooltip {
  opacity: 0;

  position: absolute;
  left: 0;
  top: 0;

  text-align: center;

  padding: 4px;
  background-color: var(--theme-background);
  border: 1px solid var(--theme-border);
  transition: 50ms;
}

#main-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#button-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  flex: 3;

  position: relative;
}

#profilepic-container {
  display: flex;
  float: right;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--theme-border);
  box-shadow: 0px 0px 10px oklch(14.5% 0 0);
}

/* Elements */

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: var(--font-heading);
}

h1,
h2 {
  color: var(--font-heading-color);
}

li,
ul {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

h2 {
  font-size: x-large;
}

a,
a:visited {
  color: var(--theme-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button {
  font-family: var(--font);
}

code {
  border: 1px solid var(--theme-border);
  background-color: oklch(37.1% 0 0);
  color: oklch(87% 0 0);
  border-radius: 4px;
  padding: 2px;
}

h3 + section {
  margin-top: var(--gap);
}

header {
  margin-bottom: var(--gap);
}

/* Classes */
.vertical-hr {
  width: 1px;
  background-color: var(--theme-border);
}

.minor-importance-text {
  opacity: 50%;
}

.gapped-list li + li {
  margin-top: var(--gap);
}

.horizontal-hr {
  height: 1px;
  background-color: var(--theme-border);
}

.stuff-bg {
  outline: 1px var(--theme-border) solid;
  border-radius: 1px;

  background-color: var(--theme-background);
  padding: var(--gap);
}

.show-tooltip:hover #tooltip {
  opacity: 1;
}

.spacer {
  height: var(--gap);
}

.buttons {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons img {
  width: 88px !important;
  height: 31px !important;
  image-rendering: pixelated !important;
}

.buttons a {
  transition: 150ms;
  width: 88px !important;
  height: 31px !important;
}

.buttons a:hover {
  scale: 110%;
  box-shadow: 0px 0px 16px var(--theme-background);
  rotate: 5deg;
}

.underlined-link {
  text-decoration: underline;
}

.underlined-link:hover {
  text-decoration: none;
}

.small-screen-only {
  display: none;
}

.big-screen-only {
  display: none;
}

/* Responsive stuff */

@media only screen and (max-width: 600px) {
  .disable-float-on-sm-screen {
    float: none !important;
  }

  .small-screen-only {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .big-screen-only {
    display: block;
  }
}
