@import url(/css/fonts.css);

/* Actually goated list of colors :3 https://tailwindcss.com/docs/colors */

:root {
  --theme-primary: oklch(54.6% 0.245 262.881);
  --theme-secondary: oklch(97% 0 0);
  --theme-accent: oklch(71.5% 0.143 215.221);
  --theme-border: oklch(37.2% 0.044 257.287);
  --theme-background: oklch(20.8% 0.042 265.755);
  --theme-background-darker: oklch(17.8% 0.042 265.755);

  --font: "Noto Sans", sans-serif;
  --font-heading: "Red Hat Text", sans-serif;
  --font-color: var(--theme-secondary);
  --font-heading-color: var(--theme-primary);

  --gap: 11px;

  --font-size: 11pt;

  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--font-color);

  background-color: oklch(12.9% 0.042 264.695);
}

/* IDs */

#container {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;

  margin: auto;
}

#header {
  display: block;
  overflow: hidden;
  border-radius: 16px;
  position: relative;

  padding: 0px;
  border: 1px solid var(--theme-border);
}

#header > img {
  display: block;
}

#content {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#blinkies {
  display: flex;
  justify-content: space-evenly;
  gap: 4px;
  flex-wrap: wrap;
}

#blinkies img {
  width: 150px;
  height: 20px;
}

#widgets {
  display: flex;
  justify-content: space-evenly;
  gap: var(--gap);
  flex-wrap: wrap;

  margin-top: var(--gap);
}

#widgets div {
  border: 1px solid var(--theme-border);
  height: fit-content;
}

#noaiwebring {
  text-align: center;
  padding: 3px;
}

#noaiwebring a,
#noaiwebring a:visited {
  color: var(--font-color);
}

#navbar {
  display: flex;

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;

  border-radius: 50px;

  overflow: hidden;
}

#navbar a {
  transition: 100ms;
  flex: 1;
  padding: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#navbar a:hover {
  background-color: var(--theme-background-darker);
  font-weight: bold;
}

#fun-stuff {
  display: flex;
  gap: var(--gap);
}

#stamps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

#stamps > img {
  width: 99px;
  height: 56px;
}

#notifyinput {
  height: 1em;
}

#tooltip {
  opacity: 0;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  text-align: center;

  padding: 4px;
  background-color: var(--theme-background);
  border: 1px dashed var(--theme-border);
  transition: 50ms;
}

#main-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#retronaut > a {
  color: var(--font-color);
}

#webring-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
}

#button-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#thingy-right {
  border-left: 1px solid var(--theme-border);
  padding-left: var(--gap);
  flex: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#profilepic-container {
  display: flex;
  float: right;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px;
  border: 1px solid var(--theme-border);
  width: fit-content;

  border-radius: 100%;
  overflow: hidden;
}

#profilepic-container:hover {
  animation: pfp-spin 1s infinite linear;
}

#notif {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#background-thingy {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-image: url("/assets/background.jpg");
  background-attachment: scroll;

  z-index: -10;
  opacity: 20%;

  animation: background-scroll 20s infinite linear reverse;
}

@keyframes background-scroll {
  from {
    background-position-y: 0px;
  }

  to {
    background-position-y: 480px;
  }
}

@keyframes pfp-spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

/* Elements */

fieldset {
  border: 1px solid var(--theme-border);
}

fieldset > legend {
  opacity: 50%;
}

body {
  padding: 40px;
  margin: 0;
  position: relative;

  min-height: 90vh;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: var(--font-heading);
}

h1,
h2 {
  color: var(--font-heading-color);
}

h4 {
  opacity: 50%;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 4px;
  font-weight: normal;
}

li,
ul {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

h2 {
  font-size: x-large;
}

a,
a:visited {
  color: var(--theme-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button,
textarea,
select,
.button-class {
  font-family: var(--font);
  font-size: var(--font-size);
}

input,
textarea,
select {
  outline: none;
  border: 1px solid var(--theme-border);
  border-radius: 2px;
  font-family: var(--font);
  padding: 4px;

  color: var(--font-color);
  background-color: var(--theme-background);
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border-color: var(--theme-primary);
}

button,
.button-class {
  overflow: hidden;
  border-radius: 4px;

  background-color: var(--theme-background);
  color: var(--font-color);
  border: 1px solid var(--theme-border);
}

button:hover,
.button-class:hover {
  border: 1px solid var(--theme-primary);
}

button:disabled,
.button-class:disabled {
  color: grey;
  border-color: var(--theme-border);
}

code {
  border: 1px solid var(--theme-border);
  background-color: oklch(37.1% 0 0);
  color: oklch(87% 0 0);
  border-radius: 4px;
  padding: 2px;
}

h3 + section {
  margin-top: var(--gap);
}

p + p,
ul + p,
li + p {
  margin-top: var(--gap);
}

/* Classes */
.window {
  border: 1px solid var(--theme-border);
  border-radius: 16px;
  background-color: var(--theme-background);

  padding: 16px;

  box-shadow: 0px 0px 8px var(--theme-background);
}

.fire-text {
  font-weight: bold;
  text-shadow: 0px 0px 3px #fff, 0px -1px 6px #ff3, 0px -5px 12px #f90,
    0px -9px 20px #c33;
}

.italic {
  font-style: italic;
}

.more-letter-spacing {
  letter-spacing: 1px;
}

.vertical-hr {
  width: 1px;
  background-color: var(--theme-border);
}

.minor-importance-text {
  opacity: 50%;
}

.gapped-list li + li {
  margin-top: var(--gap);
}

.horizontal-hr {
  height: 1px;
  background-color: var(--theme-border);
}

.stuff-bg {
  outline: 1px var(--theme-border) solid;
  border-radius: 1px;

  background-color: var(--theme-background);
  padding: var(--gap);
}

.show-tooltip:hover #tooltip {
  opacity: 1;
}

.spacer {
  height: var(--gap);
}

.buttons {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons img {
  width: 88px !important;
  height: 31px !important;
  image-rendering: pixelated !important;
}

.buttons a {
  transition: 150ms;
  width: 88px !important;
  height: 31px !important;
}

.buttons a:hover {
  scale: 110%;
  box-shadow: 0px 0px 16px var(--theme-background);
  rotate: 5deg;
}

.underlined-link {
  text-decoration: underline;
}

.underlined-link:hover {
  text-decoration: none;
}

.small-screen-only {
  display: none;
}

.big-screen-only {
  display: none;
}

.error {
  color: oklch(57.7% 0.245 27.325);
  text-shadow: 0px 0px 4px oklch(57.7% 0.245 27.325);
  font-weight: bold;
}

/* Responsive stuff */

@media only screen and (max-width: 600px) {
  .disable-float-on-sm-screen {
    float: none !important;
  }

  .small-screen-only {
    display: block;
  }

  .flex-column-sm-screen {
    flex-direction: column;
  }

  #button-container {
    border-left: 0;
  }

  body {
    padding: 0;
  }

  #profilepic-container {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .big-screen-only {
    display: block;
  }
}
