/* Actually goated list of colors :3 https://tailwindcss.com/docs/colors */

@import url("/css/variables.css");

:root {
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--color-font);

  background-color: #000000;
}

/* IDs */

#container {
  width: 100%;
  max-width: 800px;

  border: 2px ridge var(--palette-1);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 8px var(--palette-3);

  margin: auto;
}

#content {
  flex: 10;
  position: relative;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#blinkies {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

#blinkies img {
  width: 150px;
  height: 20px;
}

#widgets {
  display: flex;
  justify-content: space-evenly;
  gap: var(--gap);
  flex-wrap: wrap;

  margin-top: var(--gap);
}

#widgets div {
  border: 1px solid var(--color-border);
  height: fit-content;
}

#noaiwebring {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#fun-stuff {
  display: flex;
  gap: var(--gap);
}

#stamps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

#stamps > img {
  width: 99px;
  height: 56px;
}

#tooltip {
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  transform: translate(var(--tx, 0px), var(--ty, 0px));
  will-change: transform, opacity;
  z-index: 999;

  text-align: center;

  box-shadow: 0px 0px 4px var(--palette-3);

  padding: 4px 8px;
  background-color: #0a0a0a;
  border: 1px solid var(--color-border);
  transition: opacity 50ms;
}

#tooltip-description {
  opacity: 50%;
  font-style: italic;
}

#main-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#ssgwebring {
  display: flex;
  justify-content: center;
}

#retronaut {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#retronaut div {
  text-align: center;
}

#webring-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#webring-container-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

#button-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

#background-thingy {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;

  background-image: url("/assets/background_shark.jpg");
  background-size: 100%;

  z-index: -10;
  filter: blur(3px) brightness(50%);
}

#main-title {
  letter-spacing: 4px;
  color: var(--palette-2);
  text-shadow: 1px 0px var(--color-link), -1px 0px var(--color-link), 0px 1px var(--color-link),
    0px -1px var(--color-link);
}

@keyframes background-scroll {
  from {
    background-position-y: 0px;
  }

  to {
    background-position-y: 480px;
  }
}

@keyframes pfp-spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

/* Elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  border: 1px solid var(--color-border);
}

fieldset > legend {
  opacity: 50%;
}

body {
  padding: 40px;
  margin: 0;
  position: relative;

  min-height: 90vh;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: var(--font-heading);
  font-weight: bold;
}

h1,
h2 {
  color: var(--color-heading);
  font-weight: bold;
}

h4 {
  opacity: 50%;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 4px;
  font-weight: normal;
}

li,
ul {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-size: x-large;
}

a,
a:visited {
  color: var(--color-link);
  text-decoration: none;
  font-weight: bold;
  transition: 50ms;
}

a:hover {
  text-shadow: 1px 0px var(--color-link), -1px 0px var(--color-link), 0px 1px var(--color-link),
    0px -1px var(--color-link);
  color: var(--palette-3);
  background: radial-gradient(var(--color-link) 30%, transparent 70%);
}

input,
button,
textarea,
select,
.button-class {
  font-family: var(--font);
  font-size: var(--font-size);
  padding: 4px 6px;
  margin: 3px 0px;
  border-radius: 4px;
}

button {
  padding: 4px 10px;
}

input,
textarea,
select {
  outline: none;
  border: 1px solid #525252;
  font-family: var(--font);

  color: var(--color-font);
  background-color: var(--bg);
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border-color: var(--palette-1);
}

button,
input[type="submit"],
input[type="button"],
.button-class {
  overflow: hidden;

  border: 1px solid #1d4ed8;
  background-color: #172d69;
  color: var(--color-font);
  transition: 100ms;
}

button:enabled:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.button-class:hover {
  background-color: #101e46;
  cursor: pointer;
  color: var(--palette-1);
}

button:disabled,
.button-class:disabled {
  color: #404040;
  border-color: #404040;
  background-color: #171717;
}

code {
  border: 1px solid var(--color-border);
  background-color: oklch(37.1% 0 0);
  color: oklch(87% 0 0);
  border-radius: 4px;
  padding: 2px;
}

h3 + section {
  margin-top: var(--gap);
}

blockquote {
  border-left: 3px solid var(--color-font);
  margin: 0;

  padding: 1em 1.5em;
}

blockquote > strong {
  font-size: 1.2em;
}

blockquote > p {
  margin-top: 6px;
}

/* Classes */
.window {
  background-color: var(--bg);

  padding: 16px;

  box-shadow: 0px 0px 8px var(--bg);

  display: flex;
}

a[target="_blank"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

a[target="_blank"]::after {
  content: url("/assets/outlink.png");
  margin-left: 2px;
}

.fire-text {
  text-shadow: 0px -2px 8px #f90, 0px -5px 12px #c33;
  color: #f97316;
  font-weight: bold;
}

.more-letter-spacing {
  letter-spacing: 1px;
}

.vertical-hr {
  width: 1px;
  background-color: var(--color-line);
}

.minor-importance-text {
  opacity: 50%;
}

.gapped-list li + li {
  margin-top: var(--gap);
}

.horizontal-hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-line);

  margin: 14px 0;
}

.stuff-bg {
  outline: 1px var(--color-border) solid;
  border-radius: 1px;

  background-color: var(--bg);
  padding: var(--gap);
}

.show-tooltip:hover #tooltip {
  opacity: 1;
}

.buttons {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons img {
  width: 88px !important;
  height: 31px !important;
  image-rendering: pixelated !important;
}

.buttons a {
  transition: 150ms;
  width: 88px !important;
  height: 31px !important;
}

.buttons a:hover {
  scale: 110%;
  box-shadow: 0px 0px 16px var(--bg);
  rotate: 5deg;
}

.underlined-link {
  text-decoration: underline;
}

.underlined-link:hover {
  text-decoration: none;
}

.sm-only,
.sm-only-flex,
.lg-only {
  display: none !important;
}

.warning-bq {
  color: #f43f5e;
  border: 1px solid #f43f5e;
  background-color: #380010;
}

.warning-bq-title {
  font-size: 1.5em;
  font-weight: bold;
}

.warning-bq a {
  color: oklch(81% 0.117 11.638);
}

.warning-bq a:hover {
  --clr: oklch(81% 0.117 11.638);
  text-shadow: 1px 0px var(--clr), -1px 0px var(--clr), 0px 1px var(--clr), 0px -1px var(--clr);
  color: var(--palette-3);
  background: radial-gradient(oklch(81% 0.117 11.638) 30%, transparent 70%);
}

.bq-info {
  padding: 0.5em 1.5em;
}

.error {
  color: oklch(57.7% 0.245 27.325);
  text-shadow: 0px 0px 4px oklch(57.7% 0.245 27.325);
  font-weight: bold;
}

.webring-arrow {
  padding: 2px 5px;
}

/* Responsive stuff */

@media only screen and (max-width: 700px) {
  .sm-only {
    display: block !important;
  }

  .sm-only-flex {
    display: flex !important;
  }

  body {
    padding: 0;
  }
}

@media only screen and (min-width: 700px) {
  .lg-only {
    display: block !important;
  }
}
